* {
    border: none;
    border-radius: 0;
    font-family: 'Cascadia Code', 'SFNS Display',  Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
}

window#waybar.hidden {
    opacity: 0.2;
}

#window.focused {
    padding: 0 20px;
    margin: 3px 0;
    font-weight: bold;
    border-radius: 10px;
    min-width: 300px;
    background: #75507b;
}

#workspaces button {
    padding: 2px 5px;
}

/* hyprland */
#workspaces button.active {
    background: #75507b;
    border-bottom: 3px solid #ffffff;
}

/* sway */
#workspaces button.focused {
    background: #75507b;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
#workspaces button:hover {
    box-shadow: 0 0 2px #7550ff;
    background: #75509f;
    transition-property: background;
    transition-duration: 0.8s;
}

#taskbar button{
    border-top: 3px solid transparent;
}
#taskbar button.active{
    border-top: 3px solid #ffffff;
}

#taskbar button:hover{
    box-shadow: 0 0 2px #7550ff;
    background: #75509f;
    transition-property: background;
    transition-duration: 0.8s;
}

#tags button {
    /*        u  r   d   l */
    padding: 3px 5px 0px 5px;
    border-bottom: 3px solid transparent;
}
#tags button.occupied {
    border-bottom: 3px solid #ffffff;
}
#tags button.focused {
    background: #75507b;
    font-weight: bold;
}
#tags button.urgent {
    background-color: #eb4d4b;
}
#tags button:hover {
    box-shadow: 0 0 2px #7550ff;
    background: #75509f;
    transition-property: background;
    transition-duration: 0.8s;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#mode {
    background: #64727D;
    background: rgba(43, 48, 59, 0.9);
    border-bottom: 3px solid #ffffff;
}

#tray > .passive {
    color: #64727D;
}

#tray > .active {
    color: #1a7026;
}

#tray > .needs-attention {
    color: #eb4d4b;
}


/* all widgets */
#custom-music,
#custom-rec,
#custom-news,
#custom-updates,
#custom-tor,
#custom-weather,
#custom-memory,
#custom-cpu,
#custom-vol,
#custom-net,
#custom-bat,
#custom-traf,
#custom-clock,
#language,
#tray {
    padding: 0 5px;
    margin-left: 5px;
    background: rgba(43, 48, 59, 0.5);
    color: #fefefe;
}
